<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h4>My Git Hub Link is Given Below</h4>
            <strong><a href=<%= giturl %>>-->Click Here<--</a></strong>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>
</html>